@media (min-width: 350px) and (max-width: 800px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 700px;        
        &__decor {
            &-right {
                display: none;
            }
            &-star2 {
                width: 35px;
                height: 35px;
                top: 97px;
                left: 37px;
            }
            &-star3 {
                width: 21px;
                height: 21px;
                top: 64px;
                left: 91px;
            }
            &-star4 {
                width: 39px;
                height: 41px;
                top: 580px;
                right: 34px;
            }
            &-star5 {
                width: 18px;
                height: 18px;
                top: 557px;
                right: 86px;
            }
        }
    }

    .header {
        align-items: center;
        position: relative;
        &__title {
            display: none;    
        }
        &__title-mobile {
            display: block;
        }
        &__text {
            display: none;
        }
        &__text-mobile {
            display: block;
        }
        &__btn {
            width: 285px;
            height: 55px;
            font-size: 16px;
            line-height: 20px;
        } 
    }
}