* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font-family: "Montserrat"; 
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/* Шапка */

