* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font-family: "Montserrat"; 
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/* Шапка */

.home-top {    
    height: 800px;
    background-image: url(img/topback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;    
}

.header {
    padding-top: 196px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    &__title {        
        width: 769px;
        color: rgba(32, 32, 39, 1);
        font-size: 64px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: left;
    }
    &__text {
        width: 720px;
        color: rgba(32, 32, 39, 1);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-top: 24px;
        padding-bottom: 48px;         
    }
    &__text-bold {
        font-weight: 600;                
    }
    &__btn {
        width: 247px;
        height: 66px;              
        padding: 16px 28px 16px 28px;
        border: 1px solid rgba(32, 32, 39, 1);
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
        color: rgba(255, 255, 255, 1);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;        
        text-align: center;
    }
}

.home-top__decoration {
    &-star1 {
        width: 749.55px;
        height: 791.06px;        
        background: none;
        position: absolute;
        border: none;
        top: -333.46px;
        left: 928.75px;
        right: -488px;
        transform: rotate(108.45deg);
    }
    &-star2 {        
        background: none;
        position: absolute;
        border: none;
        top: 94px;
        left: 63px;
    }
    &-star3 {        
        background: none;
        position: absolute;
        border: none;
        top: 69px;
        left: 156px;
    }
    &-star4 {        
        background: none;
        position: absolute;
        border: none;
        top: 568px;
        left: 1013px;
    }
    &-star5 {        
        background: none;
        position: absolute;
        border: none;
        top: 538px;
        left: 948px;
    }
    &-Vector4780 {
        background: none;
        position: absolute;
        border: none;
        top: -10px;
        left: 854px; 
    }
    &-Vector4781 {
        background: none;
        position: absolute;
        border: none;
        top: 254px;
        left: 1067px; 
    }
    &-Vector4782 {
        background: none;
        position: absolute;
        border: none;
        top: 379px;
        left: 1225px; 
    }
    &-Vector4788 {
        background: none;
        position: absolute;
        border: none;
        top: 468px;
        left: 1247px; 
    }
    &-Vector4791 {
        background: none;
        position: absolute;
        border: none;
        top: 663px;
        left: 1345px; 
    }
}
  