@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/* Шапка */
.top {
  height: 800px;
  background-image: url(img/topback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.top__decor-right {
  background: none;
  position: absolute;
  border: none;
  top: 0px;
  right: 0px;
}
.top__decor-star1 {
  background: none;
  position: absolute;
  border: none;
  top: 0px;
  right: 0px;
  display: none;
}
.top__decor-star2 {
  background: none;
  position: absolute;
  border: none;
  top: 94px;
  left: 63px;
}
.top__decor-star3 {
  background: none;
  position: absolute;
  border: none;
  top: 69px;
  left: 156px;
}
.top__decor-star4 {
  background: none;
  position: absolute;
  border: none;
  top: 568px;
  right: 344px;
}
.top__decor-star5 {
  background: none;
  position: absolute;
  border: none;
  top: 538px;
  right: 455px;
}
.top__lane {
  margin-top: 710px;
  margin-left: 100%;
  height: 90px;
  width: 3220px;
  background: url(img/row.svg);
  overflow: hidden;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
  position: absolute;
  z-index: 3;
}

.header {
  padding-top: 196px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}
.header__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin-bottom: 24px;
}
.header__title-mobile {
  color: rgb(32, 32, 39);
  font-weight: 700;
  line-height: 49px;
  font-size: 40px;
  text-align: center;
  display: none;
  margin-bottom: 24px;
}
.header__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 48px;
}
.header__text-mobile {
  color: rgb(32, 32, 39);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-bottom: 36px;
  display: none;
}
.header__text-bold {
  font-weight: 600;
}
.header__btn {
  width: 247px;
  height: 66px;
  padding: 16px 28px 16px 28px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}
.header__btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}
.header__btn-mobile {
  width: 285px;
  height: 55px;
  padding: 16px 28px 16px 28px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.info {
  height: 1470px;
  background-image: url(img/contentback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.info__top {
  padding-top: 94px;
  display: flex;
  flex-direction: column;
}
.info__title {
  padding-bottom: 24px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.info__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.info__cards {
  width: 1201px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-top: 72px;
  position: absolute;
  z-index: 2;
}
.info__link {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 12.6122951508px 42.2511901855px -7.57px rgba(0, 0, 0, 0.13);
}
.info__link:hover {
  transform: scale(1.1);
}
.info__link-features {
  padding: 32px 32px 36px 32px;
}
.info__link-text {
  width: 112px;
  padding: 8px 16px 10px 16px;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
}
.info__link-title {
  padding-top: 16px;
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
}
.info__link-big {
  height: 512px;
}
.info__link-small {
  height: 473px;
}
.info__link-biggest {
  height: 551px;
}
.info__link-indent {
  margin-top: 38px;
}
.info__decor-star1 {
  background: none;
  position: absolute;
  z-index: 1;
  border: none;
  top: 77px;
  right: 0px;
}
.info__decor-star2 {
  background: none;
  position: absolute;
  z-index: 1;
  border: none;
  top: 822px;
  left: 40px;
}
.info__decor-star3 {
  background: none;
  position: absolute;
  z-index: 1;
  border: none;
  top: 770px;
  left: 25px;
}

.game {
  height: 3500px;
  background-image: url(img/contentback2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.game__title {
  padding-top: 94px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.game__cards {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.game__card, .game__card-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
}
.game__card-mobile {
  flex-direction: column;
  display: none;
}
.game__card-features {
  padding: 48px 48px 48px 48px;
  display: flex;
  flex-direction: column;
}
.game__card-title {
  padding-bottom: 24px;
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
}
.game__card-text {
  padding-bottom: 36px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.game__card-btn {
  width: 247px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 28px 16px 28px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}
.game__card-btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}
.game__card-btnmob {
  width: 285px;
  height: 55px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 28px 16px 28px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  display: none;
}
.game__decor-star1 {
  background: none;
  position: absolute;
  z-index: 1;
  border: none;
  top: 93px;
  right: 123.79px;
}
.game__decor-star2 {
  background: none;
  position: absolute;
  z-index: 1;
  border: none;
  top: 126px;
  right: 44.91px;
}
.game__decor-star3 {
  background: none;
  position: absolute;
  z-index: 1;
  border: none;
  top: 3366px;
  right: 52px;
}
.game__decor-star4 {
  background: none;
  position: absolute;
  z-index: 1;
  border: none;
  top: 3414px;
  right: 150px;
}

.footer {
  height: 150px;
  background-image: url(img/footerback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer__title {
  padding-top: 61px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}
@media (min-width: 751px) and (max-width: 1210px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .top {
    height: 700px;
  }
  .top__decor-right {
    display: none;
  }
  .top__decor-star1 {
    display: block;
  }
  .top__decor-star2 {
    width: 35px;
    height: 35px;
    top: 97px;
    left: 37px;
  }
  .top__decor-star3 {
    width: 21px;
    height: 21px;
    top: 64px;
    left: 91px;
  }
  .top__decor-star4 {
    width: 39px;
    height: 41px;
    top: 580px;
    right: 34px;
  }
  .top__decor-star5 {
    width: 18px;
    height: 18px;
    top: 557px;
    right: 86px;
  }
  .top__lane {
    margin-top: 132px;
    height: 51.34px;
    width: 1717.4px;
    background: url(img/row-mobile.svg);
  }
  .header {
    align-items: center;
    position: relative;
    padding-top: 147px;
  }
  .header__title {
    display: none;
  }
  .header__title-mobile {
    display: block;
  }
  .header__text {
    display: none;
  }
  .header__text-mobile {
    display: block;
  }
  .header__btn {
    display: none;
  }
  .header__btn-mobile {
    display: block;
  }
  .info {
    display: none;
  }
  .game {
    height: 2010px;
  }
  .game__decor-star2 {
    top: 126px;
    right: 15.91px;
  }
  .game__decor-star3 {
    top: 1883px;
    right: 7px;
  }
  .game__decor-star4 {
    top: 1959px;
    right: 59px;
  }
  .game__title {
    padding-top: 34px;
    font-size: 40px;
    text-align: center;
  }
  .game__cards {
    margin-top: 36px;
    gap: 24px;
    align-items: center;
  }
  .game__card, .game__card-mobile {
    display: none;
  }
  .game__card-mobile {
    display: block;
    display: flex;
    flex-direction: row;
  }
  .game__card-features {
    justify-content: center;
    width: 343px;
    padding: 3.04px 29.04px 2.67px 29.04px;
  }
  .game__card-title {
    font-size: 32px;
    padding-bottom: 16px;
  }
  .game__card-text {
    font-size: 16px;
    padding-bottom: 32px;
    line-height: 19px;
  }
  .game__card-btn {
    display: none;
  }
  .game__card-btnmob {
    display: block;
  }
  .footer {
    height: 100px;
  }
  .footer__title {
    padding-top: 43px;
    font-size: 16px;
  }
}
@media (min-width: 751px) and (max-width: 872px) {
  .game__decor {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 700px;
  }
  .top__decor-right {
    display: none;
  }
  .top__decor-star1 {
    display: block;
  }
  .top__decor-star2 {
    width: 35px;
    height: 35px;
    top: 97px;
    left: 37px;
  }
  .top__decor-star3 {
    width: 21px;
    height: 21px;
    top: 64px;
    left: 91px;
  }
  .top__decor-star4 {
    width: 39px;
    height: 41px;
    top: 580px;
    right: 34px;
  }
  .top__decor-star5 {
    width: 18px;
    height: 18px;
    top: 557px;
    right: 86px;
  }
  .top__lane {
    margin-top: 132px;
    height: 51.34px;
    width: 1717.4px;
    background: url(img/row-mobile.svg);
  }
  .header {
    align-items: center;
    position: relative;
    padding-top: 147px;
  }
  .header__title {
    display: none;
  }
  .header__title-mobile {
    display: block;
  }
  .header__text {
    display: none;
  }
  .header__text-mobile {
    display: block;
  }
  .header__btn {
    display: none;
  }
  .header__btn-mobile {
    display: block;
  }
  .info {
    display: none;
  }
  .game {
    height: 3740px;
  }
  .game__decor {
    display: none;
  }
  .game__title {
    padding-top: 34px;
    font-size: 40px;
  }
  .game__cards {
    margin-top: 36px;
    gap: 24px;
    align-items: center;
  }
  .game__card, .game__card-mobile {
    display: none;
  }
  .game__card-mobile {
    display: block;
    display: flex;
  }
  .game__card-features {
    width: 343px;
    padding: 29.04px 29.04px 32.67px 29.04px;
  }
  .game__card-title {
    font-size: 32px;
    padding-bottom: 16px;
  }
  .game__card-text {
    font-size: 16px;
    padding-bottom: 32px;
    line-height: 19px;
  }
  .game__card-btn {
    display: none;
  }
  .game__card-btnmob {
    display: block;
  }
  .footer {
    height: 100px;
  }
  .footer__title {
    padding-top: 43px;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */