* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font-family: "Montserrat"; 
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/* Шапка */

.top {    
    height: 800px;     
    background-image: url(img/topback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &__decor {
        &-right {
            background: none;
            position: absolute;
            border: none;
            top: 0px;
            right: 0px;
        }
        &-star1 {
            background: none;
            position: absolute;
            border: none;
            top: 0px;
            right: 0px;
            display: none;
        }        
        &-star2 {        
            background: none;
            position: absolute;
            border: none;
            top: 94px;
            left: 63px;
        }
        &-star3 {        
            background: none;
            position: absolute;
            border: none;
            top: 69px;
            left: 156px;
        }
        &-star4 {        
            background: none;
            position: absolute;
            border: none;
            top: 568px;
            right: 344px;
        }
        &-star5 {        
            background: none;
            position: absolute;
            border: none;
            top: 538px;
            right: 455px;
        }    
    }       
}

.header {
    padding-top: 196px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    &__title {
        color: rgba(32, 32, 39, 1);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        margin-bottom: 24px;
    }
    &__title-mobile { 
        color: rgba(32, 32, 39, 1);           
        font-weight: 700;
        line-height: 49px;       
        font-size: 40px;        
        text-align: center;
        display: none;
        margin-bottom: 24px;
    }
    &__text {        
        color: rgba(32, 32, 39, 1);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 48px;         
    }
    &__text-mobile {
        color: rgba(32, 32, 39, 1);        
        font-size: 16px;
        line-height: 20px;
        text-align: center;        
        padding-bottom: 36px;
        display: none;          
    }
    &__text-bold {
        font-weight: 600;                
    }
    &__btn {
        width: 247px;
        height: 66px;              
        padding: 16px 28px 16px 28px;
        border: 1px solid rgba(32, 32, 39, 1);
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
        color: rgba(255, 255, 255, 1);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;        
        text-align: center;
        cursor: pointer;
        transition: all .5s;   
        &:hover {
            background: rgba(255, 255, 255, 1);
            color: rgba(32, 32, 39, 1);
        }  
    }
    &__btn-mobile {
        width: 285px;
        height: 55px;              
        padding: 16px 28px 16px 28px;
        border: 1px solid rgba(32, 32, 39, 1);
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
        color: rgba(255, 255, 255, 1);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;        
        text-align: center;
        cursor: pointer;
        display: none;          
    }
}

.info {    
    height: 1470px;     
    background-image: url(img/contentback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;    
    &__top {
        padding-top: 94px;
        display: flex;
        flex-direction: column;       
    }
    &__title {
        padding-bottom: 24px;
        color: rgba(255, 255, 255, 1);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
    }
    &__text {        
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }
    &__cards {
        width: 1201px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 32px;
        margin-top: 72px;
        position: absolute;
        z-index: 2;
    }
    &__link {
        background-color: white;
        border-radius: 30px;
        box-shadow: 0px 12.612295150756836px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
        &:hover {
            transform: scale(1.1);
        }
    }
    &__link-features {
        padding: 32px 32px 36px 32px;        
    }
    &__link-text {
        width: 112px;
        padding: 8px 16px 10px 16px;
        color: rgba(32, 32, 39, 1);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        border-radius: 52.58px;
        background: rgba(247, 247, 247, 1);
    }
    &__link-title {
        padding-top: 16px;
        color: rgba(32, 32, 39, 1);
        font-size: 32px;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
    }
    &__link-big {
        height: 512px;
    }
    &__link-small {
        height: 473px;
    }
    &__link-biggest {
        height: 551px;
    }
    &__link-indent {
        margin-top: 38px;
    }
    &__decor-star1 {
        background: none;
            position: absolute;
            z-index: 1;
            border: none;
            top: 77px;            
            right: 0px;
    }
    &__decor-star2 {
        background: none;
            position: absolute;
            z-index: 1;
            border: none;
            top: 822px;            
            left: 40px;
    }   
    &__decor-star3 {
        background: none;
            position: absolute;
            z-index: 1;
            border: none;
            top: 770px;            
            left: 25px;
    }              
}

.game {
    height: 3500px;     
    background-image: url(img/contentback2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    &__title {
        padding-top: 94px;            
        color: rgba(255, 255, 255, 1);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
    }
    &__cards {
        margin-top: 72px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__card {        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    }
    &__card-mobile {
        @extend .game__card;
        flex-direction: column;
        display: none;
    }
    &__card-features {
        padding: 48px 48px 48px 48px;  
        display: flex;
        flex-direction: column;
    }
    &__card-title {
        padding-bottom: 24px;
        color: rgba(32, 32, 39, 1);
        font-size: 48px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
    }    
    &__card-text {
        padding-bottom: 36px;
        color: rgba(32, 32, 39, 1);
        font-size: 24px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
    }    
    &__card-btn {
        width: 247px;
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
        padding: 16px 28px 16px 28px;
        color: rgba(255, 255, 255, 1);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
        cursor: pointer;
        transition: all .5s;   
        &:hover {
            background: rgba(255, 255, 255, 1);
            color: rgba(32, 32, 39, 1);
        }  
    }
    &__card-btnmob {
        width: 285px;
        height: 55px;
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
        padding: 16px 28px 16px 28px;
        color: rgba(255, 255, 255, 1);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        display: none;          
    }
    &__decor-star1 {
        background: none;
            position: absolute;
            z-index: 1;
            border: none;
            top: 93px;            
            right: 123.79px;
    }
    &__decor-star2 {
        background: none;
            position: absolute;
            z-index: 1;
            border: none;
            top: 126px;            
            right: 44.91px;
    }   
    &__decor-star3 {
        background: none;
            position: absolute;
            z-index: 1;
            border: none;
            top: 3366px;            
            right: 52px;
    }
    &__decor-star4 {
        background: none;
            position: absolute;
            z-index: 1;
            border: none;
            top: 3414px;            
            right: 150px;
    }  
}

.footer {
    height: 150px;     
    background-image: url(img/footerback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__title {
        padding-top: 61px;
        color: rgba(0, 0, 0, 1);
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
        text-align: center;
    }
}

@import 'tablet';
@import 'mobile';